@import 'variables';
@import 'bootstrap/scss/bootstrap';


body {
    min-width: 300px;
    overflow: scroll;
    margin: 0 5px;
}

.topmost-container {
    max-width: 1296px;
}

// HEADER

// -- NAVBAR
.navbar-brand img {
    width: 45px;
    height: 45px;
}

.profile-section img {
    width: 30px;
    height: 30px;
}

// -- LANDING IMG
.landing-img {
    object-fit:cover;
    width: 100%;
    max-height: 250px;
}


// -- SEARCH BAR
.searchBar .btn {
    z-index: 5;
}


// RECIPE-CARD
.card {
    max-width: 100%;
}

.card-img {
    object-fit:cover;
    height: 100%;
    max-height: 300px;
}

.btn-fav {
    fill: currentColor;
}

.btn-fav-filled {
    fill: $danger;
}

.border-vertical {
    border-right: 1px solid $primary;
}

.recipe-show-section {
    max-width: 800px;
}

// CATEGORY-CARD
.card-img-category {
    object-fit:cover;
    // width: 100%;
    // max-width: 200px;
    // max-height: 200px;
}
.card-category {
    max-width: 300px;
}

// TEXTAREAS
.text-area-countable {
    @extend .text-muted;
    @extend .px-2;
    @extend .border;
    @extend .rounded-5;
    @extend .position-absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
    .landing-img {
        max-height: 300px;
    }
}

@include media-breakpoint-up(md) {
    .landing-img {
        max-height: 350px;
    }
}

@include media-breakpoint-up(lg) {
    .landing-img {
        max-height: 450px;
    }

    .search-bar-on-img {
        position: absolute;
        width: 45%;
        right: 0;
        top: 45%;
        margin-right: 2rem;
        & input, & input:focus {
            box-shadow: 0 .5rem 1rem rgba($info, .33);
        }
    }

    .card-img {
        object-fit:cover;
        height: 100%;
        max-height: 500px;
    }
}

@include media-breakpoint-up(xl) {
    .landing-img {
        max-height: 550px;
    }
}

@include media-breakpoint-up(xxl) {
    .landing-img {
        max-height: 600px;
    }
}
